/* Current Colour Palette */
:root{
    --black: #131515;
    --superDarkGrey: #1B1D1C;
    --veryDarkGrey: #222423;
    --moderatelyDarkGrey: #313330;
    --darkGrey: #62635d;
    --lightGrey: #B0B1A4;
    --white: #FFFFEC;
    --red: #FF3633;
    --redHighlight: #FF7A71;
    --orange: #FEA120;
    --yellow: #FCFC73;
    --green: #83D883;
    --blue: #84B1C2;
    --purple: #C185BD;
    --csppDarkBlue: #2A1191;
    --csppBlue: #462AB3;
    --csppLightBlue: #4159FF;
    --csppLightestBlue: #549FFF;
}

/* Sets default behaviour for all text and items */
body{
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 100%;
    height: 100%;
    color-scheme: dark;
    background-color: var(--black);
}

/* Menu stuff */
.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: var(--white);
}

@media only screen and (max-width: 1150px){

    .navbar ul {
        position: fixed;
        left: -100%;
        top: 10%;
        flex-direction: column;
        background-color: var(--veryDarkGrey);
        border-radius: 0px;
        vertical-align: middle;
        padding-bottom: 20%;
        padding-top: 20%;
        padding-left: 5%;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
    }

    .navbar li a:hover{
        color: var(--white);
        transform: scale(1.2) translate(7%);
        text-shadow: 2px 2px 1px var(--black);
        transition: 1s;
        overflow: hidden;
    }

    .navbar ul.active{
        left: 0;
        z-index: 1;
    }

    .navbar li{
        margin: 2.5rem 0;
    }

    .hamburger{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 5%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* Commonly Used Divs */
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 1rem;
}

.main{
    background-color: var(--veryDarkGrey);
    padding: 2rem;
    width: clamp(200px, 75%, 1000px);
}

.interior{
    box-shadow: inset 0 0 5px 5px var(--black);
    background-color: var(--moderatelyDarkGrey);
    width: 100%;
}

/* Commonly Used Text Elements */
.title{
    font-weight: 700;
    font-family: "IBM Plex Mono", monospace;
    text-shadow: 5px 5px 3px var(--black);
}

.vLarge{
    font-size: 5rem;
}

.large{
    font-size: 3rem;
}

.medium{
    font-size: 2rem;
}

.norm{
    font-size: 1rem;
}

/* Main Page Specifics */

.login{
    background-color: var(--red);
    color: var(--white);
    font-size: 1.5rem;
    font-family: "IBM Plex Sans", sans-serif;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    transition: 0.5s;
}

.login:hover{
    background-color: var(--redHighlight);
    transition: 0.5s;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm input{
    background-color: var(--veryDarkGrey);
    color: var(--white);
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    transition: 0.5s;
    width: 90%;
}

.loginForm select{
    background-color: var(--veryDarkGrey);
    color: var(--white);
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    transition: 0.5s;
    width: 100%;
}